REACT_APP_ENVIRONMENT=production.env
REACT_APP_WALLET_CONNECT_PROJECT_ID=get_from_https://cloud.walletconnect.com/sign-in
REACT_APP_PROOF_SERVICE_BASE_URL=https://proof-service.next.id
REACT_APP_SHOW_TEST_ETHEREUM_ADDRESS=false
REACT_APP_TEST_ETHEREUM_ADDRESS=0x0bd793ea8334a77b2bfd604dbaedca11ea094306
REACT_APP_CONNECT_UTU_SOCIAL_MEDIA_PLATFORMS_URL=https://uto.io/connect
REACT_APP_UTU_TOKEN_CONTRACT_ADDRESS=0xE62dc4c82a9749Bf2E40F73138B3CFee0a2EC89F
REACT_APP_POLYGON_CHAIN_ID=137